html,
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

form {
    display: flex;
    flex-direction: column;
    width: clamp(10vw, 20vw, 30vw);
    gap: 2vh;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    border: 1px solid black;
    border-radius: 10px;
}

input[type=number] {
    appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
}


button {
    appearance: none;
    height: fit-content;
    width: fit-content;
}

.wrapper~div {
    display: none;
}

.wrapper~.container-show {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 50px;
}

.container-show>div {
    border: 1px solid rgba(80, 67, 67, 0.505);
    border-radius: 10px;
    width: 300px;
    height: 300px;
    text-align: center;
}

input[type="radio"] {
    padding: 5px;
}

